<!-- section contact -->
<div class="headimg">
    <div class="overlay">
        <div class="container">
        <div class="row centering-vh">
            <div class="col-md-12">
            <h1 class="sec-col text-center wow tada" 
                data-wow-duration="1s" data-wow-delay="1s"
                data-wow-offset="200" data-wow-iteration="5"
                data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-sine">contact us</h1>
            </div>
        </div>
        </div>
</div> </div>
            
    <div class="container">      
    <form method="POST" action="">
        <div class="row contact-form">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="name" class="form-control form-control-md" placeholder="الاسم" value="">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="text" name="email" class="form-control form-control-md" placeholder="الايميل" value="">
                    <span class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <input type="text" name="phone" class="form-control form-control-md" placeholder="الموبايل" value="">
                    <span class="text-danger"> </span>
                </div>
                
                 <div class="form-group">
                    <textarea type="text" name="subject" class="form-control form-control-md" rows="3" placeholder="الرسالة" value=""></textarea>
                    <span class="text-danger"> </span>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-primary btn-md btn-submit"> send message </button>
                </div>
            </div>

            <div class="col-md-6"> 
                <h3 class="text-center">webvia business solution </h3>
                <ul class="contact-list text-center">
                <li> 
                    <a href="https://goo.gl/maps/4C9LAExNxGqYdWc2A">
                    <i class="fas fa-map-marker-alt"></i>
                    <p> cairo - egypt </p>
                    </a>
                </li>
                <li> 
                    <i class="fas fa-mobile-alt"></i>
                    <p>201096978555+</p>
                </li>
                <li> 
                <i class="fas fa-envelope-open-text"></i>
                    <p>info@webvia.net</p>
                </li>
                <li> 
                    <i class="far fa-clock"></i>
                    <p> sunday - thursday 8am : 6pm</p>
                </li>
                </ul>
            </div>
        </div>
    </form>
</div>

