<!--wrapper start-->
<div class="wrapper">
  
  <div class="sidebar">
    <img src="./assets/imgs/logoside.png" id="logoside">

    <div class="sidebar-menu">
      <span class="profile">
        <img class="rounded-circle" src="./assets/imgs/user-100.jpg" alt="User Avatar"> welcome user
        <!--<img src="assets/icons/Icon-29.png" width="50px" height="50px" alt="">-->
      </span>
      <ul class="navbar-nav">
        <!--<ng-container *ngIf="serviceId === serviceType.Portal">
          <li class="nav-item dropdown item" *ngIf="serviceReportPages.length > 0">
            <a href="#serviceReportPages" role="button" data-bs-toggle="collapse" aria-expanded="false" class="list-unstyled dropdown-toggle menu-btn">
              <i class="fa fa-files-o"></i>-->
              <!--<img src="assets/icons/Icon-17.png" width="50px" height="50px" alt="">-->
              <!--<span>{{ 'LAYOUTS.SIDE.REPORTS' | translate }}</span>
            </a>
            <ul class="collapse list-unstyled sub-menu" id="serviceReportPages">
              <ng-container *ngFor="let item of serviceReportPages">
                <li>
                  <a class="list-unstyled" routerLink="{{item.svcName + '/' + item.pageName+ '/' + item.task}}">{{item.task}}</a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>-->
        <ng-container>
          <li class="nav-item dropdown item">
            <a href="#serviceReportPages" role="button" data-bs-toggle="collapse" aria-expanded="false" class="list-unstyled dropdown-toggle menu-btn">
              <i class="fa fa-files-o"></i>
              <span> report </span>
            </a>
            <ul class="collapse list-unstyled sub-menu" id="serviceReportPages">
              <ng-container>
                <li>
                  <a class="list-unstyled" routerLink=""> items </a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>

        <li class="nav-item dropdown item">
          <a class="list-unstyled menu-btn" routerLink="/directquires/home" role="button" data-bs-toggle="collapse" aria-expanded="false">
            <i class="fa fa-quora"></i>
            <span> quires </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--sidebar end-->

  <!--main container -->
  <div class="main-container">

    <!--header-->
    <nav class="navbar navbar-expand-sm d-flex" id="nav2">
      <!--dir="{{textDir}}"-->
      <div class="container-fluid">

        <a class="navbar-brand" routerLink="/"><img src="./assets/imgs/logoc.png" alt="Logo" id="navlogo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!--<span class="navbar-toggler-icon"></span>-->
          <i class="bi bi-file-earmark-arrow-down"></i>
        </button>
        <div class="sidebar-btn">
          <i class="bi bi-arrow-left-right"></i>
        </div>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/" [ngClass]="'currentTheme'|translate"> {{'header_menu'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" role='button' data-bs-toggle="dropdown" aria-expanded="false">
                service
              </a>
              <div id="subm" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-5">
                <ng-container>
                  <a routerLink="" class="dropdown-item waves-effect waves-light"> service </a>
                </ng-container>
              </div>
            </li>
            <!-- <li class="nav-item">
              <a routerLink='/service1' class="nav-link" id="navbarDropdownMenuLink-5"> Service </a>
            </li> -->
          </ul>
        </div>

        <div class="header-menu">
          <ul class="list-unstyled d-flex flex-row" id="icons">
            <li class="">
              <a class="nav-link" href="javascript:;" id="language" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                lang
              </a>
            </li>
            <li class="nav-item notify">
              <span class="badge rounded-pill text-bg-warning">2</span>
              <a class="nav-link" href="notification" data-bs-toggle="dropdown">
                <i class="bi bi-bell-fill"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="notification">
                <a class="dropdown-item" routerLink="/notifications"> notify </a>
              </div>
            </li>
            <li class="user-area dropdown float-right">
              <a href="#" class="dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="./assets/imgs/user-100.jpg" alt="User Avatar">
              </a>
              <div class="user-menu dropdown-menu">
                <a class="nav-link" routerLink="/directquires/personalinfo"> profile </a>
                <a class="nav-link" href="#"> setting </a>
                <a class="nav-link" href="javascript:;"> logout <i class="bi bi-power" style="color: #d13131;"></i> </a>
              </div>
            </li>
            <li>
              <span class="form-inline">
                <select #selectedLang (change)="switchLang(selectedLang.value)"
                        style="width: 45px; height:34px; border-radius:45%;">
                  <option *ngFor="let language of translate.getLangs()" [value]="language"
                          [selected]="language === translate.currentLang">
                    {{ language }}
                  </option>
                </select>
              </span>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

</div>
<!--wrapper end-->


