
 
<!-- home --> 
<div class="header">
    <div class="overlay">
        <div class="container">
        <div class="row">
            <div class="col-md-7 intro">
            <h2 class="c2 wow tada" 
                data-wow-duration="1s" data-wow-delay="1s"
                data-wow-offset="200" data-wow-iteration="5"> CairoWeb <span class="c2"></span> </h2>
            <p class="c2"> Modern Axure Template For beauty prototypes </p>
            <p class="c2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laboriosam libero nostrum reprehenderit quibusdam velit magnam amet explicabo. Doloremque ratione nam incidunt. Alias, impedit soluta? Explicabo aspernatur corporis quis blanditiis? </p>
            <p class="c2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laboriosam libero nostrum reprehenderit quibusdam velit magnam amet explicabo. Doloremque ratione nam incidunt. Alias, impedit soluta? Explicabo aspernatur corporis quis blanditiis? </p>
            </div>
        
            <div class="col-md-5">
            </div>
        </div>
        </div>    
    </div> </div>
    
    <!-- section shuffle img -->
    <div class="prv_work text-center">
    
        <div class="container">
        <h2 class="head-border-center"> Previous work </h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum voluptas quibusdam saepe rem quod accusamus consequatur assumenda. Dolorum optio voluptate voluptatum nobis dicta omnis, cupiditate incidunt deleniti, libero magnam molestias! </p>
        <ul class="list-unstyled row"> 
         <li class="col-md active" data-class="all"> All </li> 
         <li class="col-md" data-class=".websites"> Websites </li>
         <li class="col-md" data-class=".news"> News </li>
         <li class="col-md" data-class=".videos"> Videos </li>  
        </ul>
        </div>
    
        <div class="shuffel-images">
    
        <div class="row"> 
            <div class="col-md"> 
            <img class="news img-thumbnail" src="/assets/imgs/news.jpg" alt=""/>    
            </div>   
            <div class="col-md"> 
                <img class="camera img-thumbnail" src="/assets/imgs/camera.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="news img-thumbnail" src="/assets/imgs/news.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="news img-thumbnail" src="/assets/imgs/news.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="news img-thumbnail" src="/assets/imgs/news.jpg" alt=""/>    
            </div>
        </div>
    
        <div class="row"> 
            <div class="col-md"> 
            <img class="websites img-thumbnail" src="/assets/imgs/website.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="camera img-thumbnail" src="/assets/imgs/camera.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="websites img-thumbnail" src="/assets/imgs/website.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="websites img-thumbnail" src="/assets/imgs/website.jpg" alt=""/>    
            </div>
            <div class="col-md"> 
            <img class="websites img-thumbnail" src="/assets/imgs/website.jpg" alt=""/>    
            </div> 
        </div>
    
        </div>
    
    </div>
    
    <!--section features -->
    <section class="features text-center">
        <div class=""> <div class="container"> 
            <h2 class="c1 head-border-center"> Features </h2> 
            
            <div class="row">
                <div class="col-sm-6 col-lg-6 wow bounceInDown" 
                    data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="200" data-wow-iteration="2">
                <div class="feat">
                <i class="fas fa-laptop-code rounded-circle"></i>
                    <h4 class="c1"> programming & design </h4>
                    <p class=""> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
                </div>    
                </div>
                    
                <div class="col-sm-6 col-lg-6 wow bounceInDown" 
                    data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="200" data-wow-iteration="2">
                <div class="">
                    <i class="fab fa-accusoft rounded-circle"></i>
                    <h4 class="c1"> web business consulting </h4>
                    <p class=""> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  </p>
                </div>    
                </div> 
            </div>
        
            <div class="row analytics">
                    <div class="col-md-3 col-sm-6"> <div class="stats">
                    <i class="fas fa-comments fa-3x"></i>
                    <p>100.500</p> <span>satsified comments</span>
                    </div></div>
        
                    <div class="col-md-3 col-sm-6"><div class="stats">
                    <i class="fas fa-chart-pie fa-3x"></i>
                    <p>30</p> <span>project done</span>
                    </div></div>
        
                    <div class="col-md-3 col-sm-6"><div class="stats">
                    <i class="fas fa-users fa-3x"></i>
                    <p>10.000</p> <span>new member</span>
                    </div></div>
        
                    <div class="col-md-3 col-sm-6"><div class="stats">
                    <i class="fas fa-cogs fa-3x"></i>
                    <p>24/7</p> <span>we are here</span> 
                    </div></div>
                </div>    
            
        </div></div>
    </section>
    
    <!-- section plans -->       
    <section class="pricing-table text-center"> 
        <div class="container">
            <h2 class="c1 head-border-center">  plans </h2>
            <p class="c2 latest-desc">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Facere amet a, vel accusamus aperiam placeat quas
                magnam sit illum maxime quam odit commodi, earum obcaecati nulla nostrum,
                sed minima soluta.</p>
            
            <div class="row">
    
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                        <h3 class="card-title c1 wow zoomInUp" data-wow-duration="1s" data-wow-delay="1s"
                            data-wow-offset="200" data-wow-iteration="3"> SILVER </h3>
                        <h6 class="card-subtitle mb-2 c2"> crative business </h6>
                        <p class="card-text c2 wow rotateIn" data-wow-duration="1s" data-wow-delay="1s"
                            data-wow-offset="200" data-wow-iteration="4">  <span>EGP</span>14000 </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> un-limited dynamic pages 
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> responsive web & mobile 
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> control system for content 
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> two language 
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> double style 
                                <i class="fas fa-check-circle text-success"></i> </li> 
                            <li class="list-group-item"> un-limited mail hosting
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> seo optimize
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> advanced security
                                <i class="fas fa-check-circle text-success"></i> </li>
                            <li class="list-group-item"> customize choice 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        </ul>
                        <a href="#" class="card-link c1">Read More</a> 
                        </div>   
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                    <h3 class="card-title c1 wow zoomInUp" data-wow-duration="1s" data-wow-delay="1s"
                        data-wow-offset="200" data-wow-iteration="2"> MASTER </h3>
                    <h6 class="card-subtitle mb-2 c2"> grow your business </h6>
                    <p class="card-text c2 wow rotateIn" data-wow-duration="1s" data-wow-delay="1s"
                        data-wow-offset="200" data-wow-iteration="3"> <span>EGP</span>4000 </p>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 8 page limited 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> responsive web & mobile 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> control system for content 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> two language 
                            <i class="fas fa-times-circle text-danger"></i> </li>
                        <li class="list-group-item"> double style 
                            <i class="fas fa-times-circle text-danger"></i> </li> 
                        <li class="list-group-item"> 2 fastest mail hosting
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> seo optimize
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> intermediate security
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> customize choice 
                            <i class="fas fa-times-circle text-danger"></i> </li>
                    </ul>
                    <a href="#" class="card-link c1">Read More</a> 
                    </div>   
                </div>
                </div>
    
                <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                    <h3 class="card-title c1 wow zoomInUp" data-wow-duration="1s" data-wow-delay="1s"
                        data-wow-offset="200" data-wow-iteration="2"> PROFESSIONAL </h3>
                    <h6 class="card-subtitle mb-2 c2"> automate business </h6>
                    <p class="card-text c2 wow rotateIn" data-wow-duration="1s" data-wow-delay="1s"
                        data-wow-offset="200" data-wow-iteration="3"> <span>EGP</span>6000 </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> un-limited dynamic pages 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> responsive web & mobile 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> control system for content 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> two language 
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> double style 
                            <i class="fas fa-times-circle text-danger"></i> </li> 
                        <li class="list-group-item"> un-limited mail hosting
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> seo optimize
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> pro security
                            <i class="fas fa-check-circle text-success"></i> </li>
                        <li class="list-group-item"> customize choice 
                            <i class="fas fa-times-circle text-danger"></i> </li>
                    </ul>
                    <a href="#" class="card-link c1">Read More</a> 
                    </div>   
                </div>
                </div>
    
            </div>
    
        </div>
    </section>
    
    <!-- section clients -->
    <section class="our-clients text-center">
        <div class="container">
            <h2 class="c1 head-border-center">عملائنا</h2> 
            <p>عملاء وشركات متميزة طويلة الأمد مع رواد الشركات المحلية والعالمية</p>
        
            <ul class="list-unstyled"> 
            <div class="row">
                <li class="col-md-2 col-sm-4 col-xs-4">
                <img class="img-fluid d-block mx-auto" src="/assets/imgs/c1.png"/>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-4">
                <img class="img-fluid d-block mx-auto" src="/assets/imgs/c1.png"/>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-4">
                <img class="img-fluid d-block mx-auto" src="/assets/imgs/c1.png"/>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-4">
                <img class="img-fluid d-block mx-auto" src="/assets/imgs/c1.png"/>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-4">
                <img class="img-fluid d-block mx-auto" src="/assets/imgs/c1.png"/>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-4">
                <img class="img-fluid d-block mx-auto" src="/assets/imgs/c1.png"/>
                </li>
            </div>
            </ul>
        </div>    
    </section>
    
    <!-- section content tabs -->
    <div class="tabs-section">
        <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-unstyled tab-switch text-center">
                <li class="selected" data-class=".tab-one">Tab 1</li>
                <li data-class=".tab-two">Tab 2</li>
                <li data-class=".tab-three">Tab 3</li>
                </ul>
            </div>
        
            <div class="col-md-6">
                <div class="tabs-content">
        
                <div class="tab-one">
                    <h3>Tab 1 </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore est dolorum dolores autem a deserunt officia repudiandae? Quaerat a labore placeat? Voluptatibus voluptas cumque voluptates libero reiciendis ad sunt at!</p>
                    <button class="btn btn-lg"> Download </button>
                </div>
        
                <div class="tab-two">
                    <h3>Tab 2 </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore est dolorum dolores autem a deserunt officia repudiandae? Quaerat a labore placeat? Voluptatibus voluptas cumque voluptates libero reiciendis ad sunt at!</p>
                    <button class="btn btn-lg"> Download </button>
                </div>
        
                <div class="tab-three">
                    <h3>Tab 3 </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore est dolorum dolores autem a deserunt officia repudiandae? Quaerat a labore placeat? Voluptatibus voluptas cumque voluptates libero reiciendis ad sunt at!</p>
                    <button class="btn btn-lg"> Download </button>
                </div>
        
                </div>
            </div>
        
            <div class="col-md-4">
                <!-- <img class="img-responsive center-block d-none d-md-block" src="/assets/imgs/post1.jpg" alt=""/> -->
            </div>
        
        </div>
        </div>
    </div>
    
    <!-- section post -->
    <div class="latest-posts"> 
        <div class="container">
            <h2 class="head-border-center text-center">Latest Posts</h2>
            <p class="latest-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet a, vel accusamus aperiam placeat quas magnam sit illum maxime quam odit commodi, earum obcaecati nulla nostrum, sed minima soluta.</p>
            
            <div class="row">
                
                <div class="col-md-6 col-lg-4">
                <div class="card">
                <img class="card-img-top" src="/assets/imgs/post1.jpg" alt=""/>
                    <div class="card-body">
                    <h4 class="card-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h4>
                    <h6 class="card-subtitle mb-2 text-muted">may 2020</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptate voluptas deleniti iste ex in ipsam optio dolorem quibusdam delectus magni eveniet aliquid, veritatis ratione velit alias cupiditate asperiores id?</p>
                    <a href="#" class="card-link">Read More</a> 
                    </div>   
                </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                <div class="card">
                <img class="card-img-top" src="/assets/imgs/post1.jpg" alt=""/>
                    <div class="card-body">
                    <h4 class="card-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h4>
                    <h6 class="card-subtitle mb-2 text-muted">may 2020</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptate voluptas deleniti iste ex in ipsam optio dolorem quibusdam delectus magni eveniet aliquid, veritatis ratione velit alias cupiditate asperiores id?</p>
                    <a href="#" class="card-link">Read More</a> 
                    </div>   
                </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                <div class="card">
                <img class="card-img-top" src="/assets/imgs/post1.jpg" alt=""/>
                    <div class="card-body">
                    <h4 class="card-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h4>
                    <h6 class="card-subtitle mb-2 text-muted">may 2020</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptate voluptas deleniti iste ex in ipsam optio dolorem quibusdam delectus magni eveniet aliquid, veritatis ratione velit alias cupiditate asperiores id?</p>
                    <a href="#" class="card-link">Read More</a> 
                    </div>   
                </div>
                </div>
        
        
            </div>
        </div>
    </div>

<!-- owl carousel -->
<!--<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/imgs/website.jpg" alt="img 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/imgs/website.jpg" alt="img 2">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/imgs/website.jpg" alt="img 3">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/imgs/website.jpg" alt="img 4">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/imgs/website.jpg" alt="img 5">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/imgs/website.jpg" alt="img 6">
      </div>
    </ng-template>
  </owl-carousel-o>-->

<!-- scroll btn -->
<!-- <div *ngIf="isShow" (click)="gotoTop()" id="scrolltop">
    <i class="fa fa-arrow-up fa-3x c1" aria-hidden="true"></i>
</div> -->
<div *ngIf="isShow" (click)="gotoTop()" id="scrolltop"> 
    <i class="fa fa-arrow-up fa-3x c1" aria-hidden="true"></i>
</div>
