
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="btn-group-vertical btn-group-sm list-unstyled tab-switch" role="group" aria-label="Vertical button group">
                <button type="button" class="selected btn btn-outline-info" data-class=".tab-one">pick en date</button>
                <button type="button" class="btn btn-outline-info" data-class=".tab-two">pick ar date</button>
            </div>
        </div>
        <div class="col-sm-3 tabs-content">
            <div class="tab-one">
                <app-datepickerg></app-datepickerg> 
            </div>
            <div class="tab-two">
                <app-datepickerh></app-datepickerh>
            </div>
        </div>
    </div>
</div>
